@import '_math';

// theme
$label-color: #212529;
$color: #656565;
$border-color: rgba(0, 0, 0, 0.08);
$textbox-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.06) !default;
$input-focused-text: #656565;
$input-focused-border: rgba(0, 0, 0, 0.15);
$input-hovered-border: rgba(0, 0, 0, 0.15);
$accent: #656565;
$highlight: rgba(0, 0, 0, 0.05);
$highlight-contour: rgba(0, 0, 0, 0.1);
$border-radius: 2px;

$textbox-line-height: 1.4em !default;
$textbox-default-width: 100%;
$textbox-font-size: 14px !default;

$input-border-width: 1px;
$input-padding-y: 4px;
$input-padding-x: 8px;

$floating-label-transition: 0.2s ease-out !default;
$floating-label-scale: 1 !default;
$floating-label-height: $textbox-line-height * $floating-label-scale;


input[type=radio] {
	margin-top: -1px;
	vertical-align: middle;
}

.iqr-checkbox:checked { 
	accent-color: #06a070;
}

.iqr-text-field {
	position: relative;
	padding-top: $floating-label-height;
	display: inline-flex;
	width: $textbox-default-width;
	flex-direction: column;
	justify-content: stretch;

	> .iqr-label {
		z-index: 1;
		pointer-events: none;
		position: absolute;
		line-height: $textbox-line-height;
		cursor: text;
		font-size: $textbox-font-size;
		top: add-three($floating-label-height, $input-border-width, $input-padding-y);
		left: add-two($input-padding-x, $input-border-width);
		transition: transform $floating-label-transition, color $floating-label-transition;
		color: $color;
		display: flex;
		align-items: center;
		height: 28px;
		max-width: 55%;
		min-width: 0;
		> span {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-right: 8px;
		}
	}

	> div {
		display: flex;
		> .iqr-radio-button-label {
			z-index: 1;
			pointer-events: none;
			line-height: $textbox-line-height;
			cursor: text;
			font-size: $textbox-font-size;
			top: add-three($floating-label-height, $input-border-width, $input-padding-y);
			left: add-two($input-padding-x, $input-border-width);
			transition: transform $floating-label-transition, color $floating-label-transition;
			color: $color;
			display: flex;
			align-items: center;
			height: 28px;
			max-width: 55%;
			min-width: 0;
			> span {
				display: block;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding-right: 8px;
			}
		}
	}
	> .iqr-input {
		flex: 1 1 auto;
		width: auto;
	}

	> .iqr-label {
		transform: translate(0, 0) scale(1);
	}

	> .iqr-label.above,
	&.has-content > .iqr-label,
	&:focus > .iqr-label,
	&:focus-within > .iqr-label {
		// persist alignment after scaling
		$half-scale-percent: calc((1 - $floating-label-scale) * 100% / 2);

		// sass-lint:disable indentation
		// transform position to top-left corner of the textbox-container
		// do not use single translate + calc() because of IE10/11
		$fls: -$floating-label-scale;
		transform: translate(-$input-padding-x, $fls * $input-padding-y) translate(-$input-border-width, $fls * $textbox-line-height)
			translate(-$half-scale-percent, $fls * $half-scale-percent) scale($floating-label-scale);
		// sass-lint:enable indentation

		font-weight: 500;
		height: $floating-label-height;
		max-width: 100%;
	}
}
