.iqr-form {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	font-family: 'Roboto', Helvetica, sans-serif;

	h2 {
		width: 100%;
		font-size: 2em;
		margin-top: 1em;
	}

	h3 {
		width: 100%;
		font-size: 1.2em;
		font-weight: normal;
		color: #282829;
		margin: 0 0 1em !important;
	}

	& > * {
		margin: 0 24px 0 0;
	}
	iqr-form-textfield {
		//flex-basis: 50%;
		flex: 2 1 50%;
	}
	iqr-form-date-picker {
		flex: 1 1 25%;
	}
	iqr-form-number-field {
		flex: 1 1 25%;
	}
	iqr-form-measure-field {
		flex: 1 1 25%;
	}
	iqr-form-time-picker {
		flex: 1 1 25%;
	}
	iqr-form-date-time-picker {
		flex: 1 1 25%;
	}
	iqr-form-multiple-choice {
		flex: 2 1 50%;
	}

	iqr-form-dropdown-field {
		flex: 2 1 50%;
	}

	iqr-form-radio-button {
		flex: 2 1 50%;
	}

	iqr-form-checkbox {
		flex: 2 1 50%;
	}


	.group {
		background: #f6f6f6;
		padding: 12px 0 12px 8px;
		border-radius: 12px;
		margin: 4px 0;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-start;
		& > * {
			margin: 0 24px 0 0;
		}
	}
}

