.iqr-form {
	display: flex;
	flex-flow: row wrap;
	align-items: start;

	h2 {
		width: 100%;
		font-size: 2em;
		margin-top: 1em;
	}

	h3 {
		width: 100%;
		font-size: 1.2em;
		font-weight: normal;
		color: #282829;
		margin: 1em;
	}

	iqr-form-textfield,
	iqr-form-date-picker,
	iqr-form-number-field,
	iqr-form-measure-field,
	iqr-form-time-picker,
	iqr-form-date-time-picker,
	iqr-form-multiple-choice,
	iqr-form-dropdown-field,
	iqr-form-dropdown-field,
	iqr-form-radio-button,
	iqr-form-checkbox {
		margin: 0em 10px 10px 10px;
	}

	iqr-form-radio-button {
		margin: 0em 10px 8px 10px;
	}

	iqr-form-checkbox {
		margin: 0em 10px 11px 10px;
	}

	.group {
		flex: 1 1 calc(var(--width) - 2em);
		margin: 1em;
		background: #f6f6f6;
		border-radius: 12px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-start;
	}
}
