.icure-form {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(48, 1fr);
}

.subform {
	position: relative;
	min-height: 64px;
	background-color: whitesmoke;
}

.icure-form {
	h2 {
		width: 100%;
		font-size: 2em;
		margin-top: 1em;
	}

	h3 {
		width: 100%;
		font-size: 1.2em;
		font-weight: normal;
		color: #282829;
		margin: 1em;
	}

	icure-form-textfield,
	icure-form-date-picker,
	icure-form-number-field,
	icure-form-measure-field,
	icure-form-time-picker,
	icure-form-date-time-picker,
	icure-form-multiple-choice,
	icure-form-dropdown-field,
	icure-form-dropdown-field,
	icure-form-radio-button,
	icure-form-checkbox {
		margin: 0em 10px 10px 10px;
	}

	icure-form-radio-button {
		margin: 0em 10px 8px 10px;
	}

	icure-form-checkbox {
		margin: 0em 10px 11px 10px;
	}

	.group.bordered {
		background: #f6f6f6;
		border-radius: 12px;
	}

	.float-right-btn {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}


}
